.header__slideshow-wrapper {
  position: relative;
  overflow: hidden;
  max-height: 89.5vh;
}

.header .fa-solid {
  position: absolute;
  z-index: 5;
  font-size: 3rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.header .fa-solid:hover {
  color: rgb(212, 212, 212);
}

#btn-left {
  left: 3%;
}

#btn-right {
  right: 3%;
}

.header__slideshow {
  display: flex;
  max-width: 100%;
}

.slider-content {
  min-width: 100%;
}

.header__slideshow-images {
  width: 100%;
  object-fit: cover;
}

/* SECTION SMJEROVI */

.smjerovi__container {
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 30%));
  justify-content: center;
  gap: 3rem;
  margin: 3rem auto;
}

.smjerovi__box {
  text-align: center;
}

.smjerovi__box i {
  color: var(--black);
  font-size: 3rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.smjerovi__box:hover .smjerovi__icon {
  transform: scale(1.1);
}

.smjerovi__icon {
  width: 100px;
}

.kategorija {
  color: var(--light-yellow);
  font-family: var(--roboto);
  font-weight: 700;
}

.smjerovi__text-content h2 {
  color: var(--black);
  font-family: var(--roboto);
  font-size: 1.75rem;
}

.smjerovi__box:hover .smjerovi__text-content h2 {
  color: var(--light-yellow);
  margin-top: .5rem;
}

.smjerovi__text-content p {
  color: var(--black);
  font-family: var(--raleway);
  font-size: 0.95rem;
}

/* SECTION NOVOSTI */

.novosti__container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  place-items: center;
  padding: 0 2rem;
}

.novosti__box {
  max-width: 340px;
  border-left: 1px solid rgb(187, 187, 187);
  border-right: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
}

.novosti__box img {
  max-width: 100%;
  min-height: 220px;
}

.novosti__text-content {
  margin: 1rem;
}

.novosti__text-content a {
  display: inline-block;
  font-family: var(--roboto);
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.novosti__text-content a:hover {
  color: rgb(63, 63, 63);
}

.novosti__text-content p {
  font-family: var(--raleway);
  margin-bottom: 1rem;
}

/* O SKOLI SECTION */
.about-us {
  position: relative;
  background-color: #dfdfdf;
  max-width: none;
  z-index: -1;
  padding: 3rem 2rem;
}

.about-info {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.about-info img {
  width: 50%;
  margin-right: 2rem;
}

.about-us-text h3 {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.about-us-text p {
  line-height: 1.6;
  font-family: var(--raleway);
  color: #737373;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1050px) {
  .about-info {
    justify-content: center;
    flex-direction: column;
  }

  .about-info img {
    width: 70%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .header__slideshow-images {
    min-height: 90vh;
  }
}
